<h2 class="mb-sm">Add new task</h2>

<div class="row">
    <div class="col-xs-12 col-lg-8">
        <form ng-submit="$ctrl.submitForm()">

            <div class="form-group">
                <label for="task-name-input">Task name</label>
                <input id="task-name-input" ng-model="$ctrl.formData.name" type="text" class="form-control"  placeholder="Enter task name here">
            </div>

            <div class="form-group">
                <label for="project-select">Select project from list</label>
                <select name="project" id="project-select" class="form-control"
                        ng-model="$ctrl.project"
                        ng-options="project.name for project in $ctrl.projectList"
                        ng-change="$ctrl.selectProject()"></select>
            </div>

            <div class="form-group">
                <label for="priority-select">Select priority from list</label>
                <select name="priority" id="priority-select" class="form-control"
                        ng-model="$ctrl.priority"
                        ng-options="priority.name for priority in $ctrl.priorityList"
                        ng-change="$ctrl.selectPriority()"></select>
            </div>

            <div class="form-group">
                <label for="task-description-input">Description</label>
                <textarea id="task-description-input" ng-model="$ctrl.formData.description" class="form-control" rows="3" placeholder="Goals and objectives of the task"></textarea>
            </div>

            <div class="form-group">
                <label for="status-select">Select status from list</label>
                <select name="status" id="status-select" class="form-control"
                        ng-model="$ctrl.status"
                        ng-options="status.name for status in $ctrl.statusList"
                        ng-change="$ctrl.selectStatus()"></select>
            </div>

            <div class="form-group">
                <label for="sprint-select">Select sprint from list</label>
                <select name="sprint" id="sprint-select" class="form-control"
                        ng-model="$ctrl.sprint"
                        ng-options="sprint.name for sprint in $ctrl.sprintList"
                        ng-change="$ctrl.selectSprint()"></select>
            </div>

            <div class="button-wrapper mt-sm">
                <a href="#!/list" class="btn btn-primary">Back to list</a>
                <button type="submit" class="btn btn-success">Create task</button>
            </div>
        </form>
    </div>
</div>