<div class="tasks-list-container">

    <div ng-show="$ctrl.loading">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="mv-none">Loading...</h3>
            </div>
        </div>
    </div>

    <div ng-hide="$ctrl.loading">
        <table class="table table-striped" ng-show="$ctrl.tasksList.length">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Project</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in $ctrl.tasksList">
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.status.name}}</td>
                <td>{{task.priority.name}}</td>
                <td>{{task.project.name}}</td>
            </tr>
            </tbody>
        </table>

        <div class="alert alert-info" ng-hide="$ctrl.tasksList.length">
            There are no tasks in database. Start now, and add your first task.
        </div>

        <a href="#!/add" class="btn btn-success">Add new task</a>
    </div>
</div>