<!doctype html>
<html ng-app="lynxApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block pageTitle %}Welcome{% endblock %} - Lynx</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="/assets/styles/bundle.css">
</head>
<body>

<div class="app-wrapper">
    {% include 'sections/sidebar.html.twig' %}
    <div class="app-content-wrapper">
        <div class="app-content">
            {% include 'sections/header.html.twig' with {pageTitle: block('pageTitle')} %}

            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<script src="/assets/scripts/bundle.js"></script>
</body>
</html>