<div class="users-list-container">

    <div ng-show="$ctrl.loading">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="mv-none">Loading...</h3>
            </div>
        </div>
    </div>

    <div ng-hide="$ctrl.loading">
        <table class="table table-striped" ng-show="$ctrl.usersList.length">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $ctrl.usersList">
                    <td>{{user.id}}</td>
                    <td>{{user.name}} {{user.lastname}}</td>
                    <td>{{user.email}}</td>
                    <td><span class="role-label" ng-repeat="role in user.roles" data-role="{{role}}">{{role}}</span></td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-info" ng-hide="$ctrl.usersList.length">
            There are no users in database. Start now, and create your first user.
        </div>

        <a href="#!/add-user" class="btn btn-success">Add team member</a>
    </div>
</div>