<div ng-show="$ctrl.loading">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="mv-none">Loading...</h3>
        </div>
    </div>
</div>

<div class="row" ng-hide="$ctrl.loading">
    <div class="col-xs-12 col-md-8">
        <form ng-submit="$ctrl.submitForm()">

            <div class="form-group">
                <label for="task-name-input">Task name*</label>
                <input id="task-name-input" ng-model="$ctrl.formData.name" type="text" class="form-control"  placeholder="Enter task name here" required>
            </div>

            <div class="form-group">
                <label for="project-select">Select project from list</label>
                <select id="project-select" class="form-control"
                        ng-model="$ctrl.formData.project">
                    <option ng-selected="$ctrl.formData.project == project.id"
                            ng-repeat="project in $ctrl.projectList"
                            ng-value="project.id">{{project.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="assignee-select">Assignee</label>
                <select id="assignee-select" class="form-control"
                        ng-model="$ctrl.formData.assignee">
                    <option value="">Unassigned</option>
                    <option ng-selected="$ctrl.formData.assignee == assignee.id"
                            ng-value="{{assignee.id}}"
                            ng-repeat="assignee in $ctrl.userList">{{assignee.name}} {{assignee.lastname}}</option>
                </select>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="priority-select">Priority</label>
                        <select id="priority-select" class="form-control"
                                ng-model="$ctrl.formData.priority">
                            <option ng-selected="$ctrl.formData.priority == priority.id"
                                    ng-repeat="priority in $ctrl.priorityList"
                                    ng-value="priority.id">{{priority.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group" ng-hide="$ctrl.isNew">
                        <label for="status-select">Status</label>
                        <select id="status-select" class="form-control"
                                ng-model="$ctrl.formData.status">
                            <option ng-selected="$ctrl.formData.status == status.id"
                                    ng-repeat="status in $ctrl.statusList"
                                    ng-value="status.id">{{status.name}}</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="task-description-input">Description</label>
                <textarea id="task-description-input" ng-model="$ctrl.formData.description" class="form-control" rows="3" placeholder="Goals and objectives of the task"></textarea>
            </div>

            <div class="form-group">
                <label for="sprint-select">Select sprint from list</label>
                <select id="sprint-select" class="form-control"
                        ng-model="$ctrl.formData.sprint">
                    <option ng-selected="$ctrl.formData.sprint == sprint.id"
                            ng-repeat="sprint in $ctrl.sprintList"
                            ng-value="sprint.id">{{sprint.name}}</option>
                </select>
            </div>

            <div class="button-wrapper mt-sm">
                <a href="#!/task" class="btn btn-primary">Back to list</a>
                <button type="submit" class="btn btn-success" ng-show="$ctrl.isNew">Create task</button>
                <button type="submit" class="btn btn-success" ng-hide="$ctrl.isNew">Update task</button>
            </div>
        </form>
    </div>
</div>