<div class="tasks-list-container">

    <div ng-show="$ctrl.loading">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="mv-none">Loading...</h3>
            </div>
        </div>
    </div>

    <div ng-hide="$ctrl.loading">
        <table class="table table-striped" ng-show="$ctrl.tasksList.length">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Project</th>
                <th>Reporter</th>
                <th>Assignee</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in $ctrl.tasksList">
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td><span class="status-label" data-status="{{task.status.short_name}}">{{task.status.name}}</span></td>
                <td><span class="priority-label" data-priority="{{task.priority.name|lowercase}}">{{task.priority.name}}</span></td>
                <td>{{task.project.name}}</td>
                <td>{{task.reporter.name}} {{task.reporter.lastname}}</td>
                <td><span ng-show="task.assignee">{{task.assignee.name}} {{task.assignee.lastname}}</span><span ng-hide="task.assignee">Unassigned</span></td>
                <td><a href="#!/task/{{task.id}}/edit">Edit</a> <a href="" ng-click="$ctrl.removeTask(task)">Delete</a></td>
            </tr>
            </tbody>
        </table>

        <div class="alert alert-info" ng-hide="$ctrl.tasksList.length">
            There are no tasks in database. Start now, and add your first task.
        </div>

        <a href="#!/task/add" class="btn btn-success">Add new task</a>
    </div>
</div>