<header class="kanban-header">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="header-title">{{ pageTitle }}</h1>
        </div>
        <div class="col-sm-6">
            <div class="header-brand-container">
                <img src="/assets/img/brand/lynx.png" class="header-brand" alt="Lynx brand">
            </div>
        </div>
    </div>
</header>