<div class="app-sidebar-wrapper">
    <nav class="app-sidebar">
        <ul class="sidebar-nav-list">
            <li><a href="/taskboard" class="nav-link">Taskboard</a></li>
            <li><a href="/project" class="nav-link">Projects</a></li>
            <li><a href="/task" class="nav-link">Tasks</a></li>
            <li><a href="/userpanel" class="nav-link">User panel</a></li>
        </ul>
    </nav>
</div>