.kanban-board {

}

header.kanban-group-header {
  @include bg-darken;
  padding: 12px 15px;
  margin-bottom: 15px;

  h2.kanban-group-title {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

div.kanban-list-container {
  @include  bg-darken;
  margin: 0;
  list-style: none;
}

ul.kanban-group {
  margin: 0;
  padding: 12px 15px;
  min-height: 300px;
}