.app-sidebar-wrapper {

}

.app-sidebar {
  width: $app-sidebar-width;
  height: 100vh;
  float: left;
  position: relative;
  margin-right: -100%;
  background-color: $app-sidebar-background;
}

ul.sidebar-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    border-bottom: 1px solid rgba(#fff, 0.1);

    &:last-of-type {
      border-bottom: none;
    }
  }

  a.nav-link {
    display: block;
    padding: 20px 10px;
    font-size: 16px;
    color: #fff;
    transition: background 0.3s ease;

    &:hover {
      text-decoration: none;
      background: rgba(#fff, 0.1);
    }
  }
}