{% extends 'plain.html.twig' %}

{% block body %}
    <div class="user-bundle-layout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    {% include 'sections/header.html.twig' with {pageTitle: "Login"} %}

                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}