.m-none {margin: 0 !important;}
.m-xs {margin: $dimension-xs !important;}
.m-sm {margin: $dimension-sm !important;}
.m-md {margin: $dimension-md !important;}
.m-lg {margin: $dimension-lg !important;}

.mt-none {margin-top: 0 !important;}
.mt-xs {margin-top: $dimension-xs !important;}
.mt-sm {margin-top: $dimension-sm !important;}
.mt-md {margin-top: $dimension-md !important;}
.mt-lg {margin-top: $dimension-lg !important;}

.mr-none {margin-right: 0 !important;}
.mr-xs {margin-right: $dimension-xs !important;}
.mr-sm {margin-right: $dimension-sm !important;}
.mr-md {margin-right: $dimension-md !important;}
.mr-lg {margin-right: $dimension-lg !important;}

.mb-none {margin-bottom: 0 !important;}
.mb-xs {margin-bottom: $dimension-xs !important;}
.mb-sm {margin-bottom: $dimension-sm !important;}
.mb-md {margin-bottom: $dimension-md !important;}
.mb-lg {margin-bottom: $dimension-lg !important;}

.ml-none {margin-left: 0 !important;}
.ml-xs {margin-left: $dimension-xs !important;}
.ml-sm {margin-left: $dimension-sm !important;}
.ml-md {margin-left: $dimension-md !important;}
.ml-lg {margin-left: $dimension-lg !important;}

.mh-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mh-xs {
  margin-left: $dimension-xs !important;
  margin-right: $dimension-xs !important;
}
.mh-sm {
  margin-left: $dimension-sm !important;
  margin-right: $dimension-sm !important;
}
.mh-md {
  margin-left: $dimension-md !important;
  margin-right: $dimension-md !important;
}
.mh-lg {
  margin-left: $dimension-lg !important;
  margin-right: $dimension-lg !important;
}

.mv-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mv-xs {
  margin-top: $dimension-xs !important;
  margin-bottom: $dimension-xs !important;
}
.mv-sm {
  margin-top: $dimension-sm !important;
  margin-bottom: $dimension-sm !important;
}
.mv-md {
  margin-top: $dimension-md !important;
  margin-bottom: $dimension-md !important;
}
.mv-lg {
  margin-top: $dimension-lg !important;
  margin-bottom: $dimension-lg !important;
}

.p-none {padding: 0 !important;}
.p-xs {padding: $dimension-xs !important;}
.p-sm {padding: $dimension-sm !important;}
.p-md {padding: $dimension-md !important;}
.p-lg {padding: $dimension-lg !important;}

.pt-none {padding-top: 0 !important;}
.pt-xs {padding-top: $dimension-xs !important;}
.pt-sm {padding-top: $dimension-sm !important;}
.pt-md {padding-top: $dimension-md !important;}
.pt-lg {padding-top: $dimension-lg !important;}

.pr-none {padding-right: 0 !important;}
.pr-xs {padding-right: $dimension-xs !important;}
.pr-sm {padding-right: $dimension-sm !important;}
.pr-md {padding-right: $dimension-md !important;}
.pr-lg {padding-right: $dimension-lg !important;}

.pb-none {padding-bottom: 0 !important;}
.pb-xs {padding-bottom: $dimension-xs !important;}
.pb-sm {padding-bottom: $dimension-sm !important;}
.pb-md {padding-bottom: $dimension-md !important;}
.pb-lg {padding-bottom: $dimension-lg !important;}

.pl-none {padding-left: 0 !important;}
.pl-xs {padding-left: $dimension-xs !important;}
.pl-sm {padding-left: $dimension-sm !important;}
.pl-md {padding-left: $dimension-md !important;}
.pl-lg {padding-left: $dimension-lg !important;}

.ph-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ph-xs {
  padding-left: $dimension-xs !important;
  padding-right: $dimension-xs !important;
}
.ph-sm {
  padding-left: $dimension-sm !important;
  padding-right: $dimension-sm !important;
}
.ph-md {
  padding-left: $dimension-md !important;
  padding-right: $dimension-md !important;
}
.ph-lg {
  padding-left: $dimension-lg !important;
  padding-right: $dimension-lg !important;
}

.pv-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pv-xs {
  padding-top: $dimension-xs !important;
  padding-bottom: $dimension-xs !important;
}
.pv-sm {
  padding-top: $dimension-sm !important;
  padding-bottom: $dimension-sm !important;
}
.pv-md {
  padding-top: $dimension-md !important;
  padding-bottom: $dimension-md !important;
}
.pv-lg {
  padding-top: $dimension-lg !important;
  padding-bottom: $dimension-lg !important;
}